### Table of contents

1. How to Sort Pandas Dataframe based on the values of a column?
2. How to Sort Pandas Dataframe based on the values of a column (Descending order)?
3. How to Sort Pandas Dataframe based on a column and put missing values first?
4. How to Sort Pandas Dataframe based on a column in place?
5. How to Sort Pandas Dataframe based on Index (in place)?
6. How to Sort Pandas Dataframe Based on the Values of Multiple Columns?

In [12]:
import pandas as pd
import numpy as np

### Pandas data frame has two useful functions
1.sort_values(): to sort pandas data frame by one or more columns
2.sort_index(): to sort pandas data frame by row index

In [8]:
data_url = 'http://bit.ly/2cLzoxH'

## read data from the url as pandas dataframe
data = pd.read_csv(data_url)
print("The total number of observations - ", data.shape[0])
print("The total number of columns - ", data.shape[1])

The total number of observations -  1704
The total number of columns -  6

In [11]:
data.head(5)
# print(data.head(n=3))

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

#### 1. How to Sort Pandas Dataframe based on the values of a column?

In [16]:
sort_by_life = data.sort_values('lifeExp')
sort_by_life.head(3)

          country  year        pop continent  lifeExp   gdpPercap
1292       Rwanda  1992  7290203.0    Africa   23.599  737.068595
0     Afghanistan  1952  8425333.0      Asia   28.801  779.445314
552        Gambia  1952   284320.0    Africa   30.000  485.230659

### 2. How to Sort Pandas Dataframe based on the values of a column (Descending order)?

In [18]:
sort_by_life_desc = data.sort_values('lifeExp',ascending=False)
sort_by_life_desc = data.sort_values('lifeExp',ascending=0)
sort_by_life_desc.head(3)

             country  year          pop continent  lifeExp    gdpPercap
803            Japan  2007  127467972.0      Asia   82.603  31656.06806
671  Hong Kong China  2007    6980412.0      Asia   82.208  39724.97867
802            Japan  2002  127065841.0      Asia   82.000  28604.59190

### 3. How to Sort Pandas Dataframe based on a column and put missing values first?

In [21]:
sort_by_life_mv = data.sort_values('lifeExp',na_position='first')
sort_by_life_mv.head(3)

          country  year        pop continent  lifeExp   gdpPercap
1292       Rwanda  1992  7290203.0    Africa   23.599  737.068595
0     Afghanistan  1952  8425333.0      Asia   28.801  779.445314
552        Gambia  1952   284320.0    Africa   30.000  485.230659

### 4. How to Sort Pandas Dataframe based on a column in place?

By default sorting pandas data frame using sort_values() or sort_index() creates a new data frame. If you don’t want create a new data frame after sorting and just want to do the sort in place, you can use the argument “inplace = True”.

In [23]:
data.sort_values('lifeExp',inplace=True,ascending=False)
data.head(3)

             country  year          pop continent  lifeExp    gdpPercap
803            Japan  2007  127467972.0      Asia   82.603  31656.06806
671  Hong Kong China  2007    6980412.0      Asia   82.208  39724.97867
802            Japan  2002  127065841.0      Asia   82.000  28604.59190

### 5. How to Sort Pandas Dataframe based on Index (in place)?

We can use sort_index() to sort pandas dataframe to sort by row index or names. In this example, row index are numbers and in the earlier example we sorted data frame by lifeExp and therefore the row index are jumbled up. We can sort by row index (with inplace=True option) and retrieve the original dataframe.

In [25]:
data.sort_index(inplace=True)
data.head(3)

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710

### 6. How to Sort Pandas Dataframe Based on the Values of Multiple Columns?

In [46]:
sort_by_mul = data.sort_values(['lifeExp','pop'], ascending=[True,True])
sort_by_mul.head(3)

          country  year        pop continent  lifeExp   gdpPercap
1292       Rwanda  1992  7290203.0    Africa   23.599  737.068595
0     Afghanistan  1952  8425333.0      Asia   28.801  779.445314
552        Gambia  1952   284320.0    Africa   30.000  485.230659